@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.tech-badge {
  @apply bg-cyan-400 bg-opacity-30 px-3 py-2 rounded-full text-xs text-cyan-400 font-medium;
}
